---
layout: default
section: main
---
<header>
  <div id="seal">
    <a href="/" title="Home">
      <h1>Object Lateral</h1>
      <div class="space2"></div>
      <div class="space3"></div>
      <div class="comet"></div>
    </a>
  </div>
  <div id="cometTrail"></div>
  <div id="tagLine"><h2><span class="thoughtful">Thoughtful, </span>Custom Software <em>by</em></h2></div>
  <nav>
    <ul>
      <li><a href="#about" title="About">About</a></li>
      <li><a href="#work" title="Work">Work</a></li>
      <li><a href="/blog" title="Blog">Blog</a></li>
      <li><a href="#contact" title="Contact">Contact</a></li>
    </ul>
  </nav>
</header>

<div id="slider">
  <div id="slides">
    <div class="slide">
      <div class="tools-img"></div>
      <h2>Craftsmen know their tools</h2>
      <p>We take pride in our work and craft every piece<br /> of code with care <em>&amp;</em> attention to detail.</p>

      <p><a href="#contact" title="Contact Us">contact us to get started</a></p>
    </div>
    <div class="slide">
      <div class="thoughtful-img"></div>
      <h2>A Thoughtful Teammate</h2>
      <p>We work with clients we believe in and do<br /> whatever we can to help them succeed.</p>

      <p><a href="#contact" title="Contact Us">contact us to get started</a></p>
    </div>
    <div class="slide">
      <div class="platforms-img"></div>
      <h2>Polyglot Platformer</h2>
      <p>Have a preferred platform? No problem.<br /> We likely already speak your language.</p>
      <p><a href="#contact" title="Contact Us">contact us to get started</a></p>
    </div>
  </div>
  <a class="leftArrow ss-icon" href="#" title="Previous">&#x25C5;</a>
  <a class="rightArrow ss-icon" href="#" title="Next">&#x25BB;</a>
</div>

<section id="blog">
  {% for post in site.posts limit:1 %}
  <p><span class="large">Blog</span>{{ post.title }} {% if post.subtitle %}&mdash; {{ post.subtitle }} {% endif %} <a href="{{ post.url }}/" title="{{ post.title }}" class="readmore"> <small>Read More</small></a></p>
  {% endfor %}
</section>

<section id="about">
  <div class="left">
    <h1>Est. 2012</h1>
    <p><span class="large">Object Lateral</span> is a custom software company
      from Omaha, Nebraska. We value building long-term, mutually beneficial
      client relationships. This requires us to be thoughtful, to communicate
      clearly, and to share responsibility of our clients' technical successes.
    </p>
    <p>
      <span class="large">Jerod Santo</span> – Object Lateral's founder – is a
      Bible Christian, a husband, a father of four, and an all around geeky guy.
      He graduated with highest honors from the University of Nebraska at Omaha
      where he studied M.I.S., Computer Science, and Information Assurance.
    </p>
    <p>
      Jerod is also the lead instructor of
      <a href="https://interfaceschool.com" title="Interface: The Web School">Interface Web School</a>,
      managing director of <a href="https://thechangelog.com" title="The Changelog">The Changelog</a>,
      and writes regularly on his
      <a href="http://blog.jerodsanto.net">blog</a>
      and <a href="http://twitter.com/jerodsanto">Twitter</a>.
    </p>
  </div>
  <div class="right"><div class="wrap">
    <div class="img-code">
      <img src="/images/img-code.png" alt="Code" class="retina" width="265" height="265"/>
    </div>
    <div class="img-jerod">
      <img src="/images/img-jerod.png" alt="Jerod" class="retina" width="155" height="155"/>
    </div>
    <div class="img-whiteboard">
      <img src="/images/img-whiteboard.png" alt="Whiteboard" class="retina" width="199" height="199"/>
    </div>
    <div class="fill"></div>
    <div class="clear"></div>
  </div></div>
</section>

<section id="work">
  <div class="clients">
    <div class="wrap">
      <h1>Clients</h1>
    </div>
    <ul>
      <li class="client-grooveshark"><a href="http://grooveshark.com" title="Grooveshark.com">Grooveshark<span class="ss-action"></span></a></li>
      <li class="client-socialassurance"><a href="http://socialassurance.com" title="Social Assurance">Social Assurance<span class="ss-action"></span></a></li>
      <li class="client-west"><a href="http://www.west.com" title="West Corporation">West Corporation<span class="ss-action"></span></a></li>
      <li class="client-buildomaha"><a href="http://buildomaha.org" title="BuildOmaha.org">Build Omaha<span class="ss-action"></span></a></li>
      <li class="client-omahype"><a href="http://omahype.com" title="Omahype">Omahype<span class="ss-action"></span></a></li>
      <li class="client-socialist"><a href="http://www.sociali.st" title="Socialist App">Socialist App<span class="ss-action"></span></a></li>
      <li class="client-verdis"><a href="http://verdisgroup.com" title="Verdis Group">Verdis Group<span class="ss-action"></span></a></li>
      <li class="client-secretpenguin"><a href="http://secretpenguin.com" title="Secret Penguin">Secret Penguin<span class="ss-action"></span></a></li>
      <li class="client-ovaova"><a href="http://ovaova.com" title="Ova Ova">Ova Ova<span class="ss-action"></span></a></li>
    </ul>
  </div>
  <div class="testimonials"><div class="wrap">
    <h1>Testimonials</h1>
    <div class="arrows">
      <a class="ss-icon prevTesti" href="#" title="Previous Testimonial">&#x25C5;</a>
      <a class="ss-icon nextTesti" href="#" title="Next Testimonial">&#x25BB;</a>
    </div>
    <ul>
      <li class="client-socialist">"I've collaborated with Jerod on a wide range of projects and I'm continually astounded by the caliber of his work.  His level of professionalism and mastery of his trade bleeds into everything he touches.  When I want it done right the first time, I come to Jerod.  He also gives mean back-rubs."<p class="byline">- John Ashenden, Socialist App</p></li>
      <li class="client-ovaova">"We had never worked with Jerod prior to our experience building Ova Ova, but there is absolutely no one else we would consider for future projects. Our project was far more complex than we originally planned, and we were beyond impressed with how quickly Jerod was able to understand our needs and still manage to stay within budget and on our timeline. We could always count on Jerod to work with integrity and deliver more than he promised. We cannot recommend Object Lateral enough."<p class="byline">- Amanda Kohler, Ova Ova</p></li>
      <li class="client-verdis">"Jerod solicited our input and customized an online business tool for us that encompassed exactly what we were envisioning.  He has an incredible eye for detail and makes himself readily available to discuss additional ideas and concerns throughout the project. His client-centered approach makes him a pleasure to work with, and I would strongly recommend his services."<p class="byline">- Chris Stratman, Verdis Group</p></li>
      <li>"We had the pleasure of teaming up with Jerod on a project in 2011. Not only is he great to work with, his skills and attention to detail are outstanding. His ability to seamlessly translate design into a usable product is refreshing. We look forward to working with Jerod in the future."<p class="byline">- Adam Nielsen, GOODTWIN</p></li>
      <li>"Jerod is a top-notch web developer, one of the best we've ever worked with. His attention to detail from beginning to end is what everyone appreciates about partnerships but has such a difficult time finding. He has that rare blend of vision and execution and, most importantly, he is a man of his word. We'll be working with Object Lateral for years to come." <p class="byline">- Seth Carlson, Elevate</p></li>
    </ul>
  </div></div>
</section>

<section id="contact">
  <div class="space2"></div>
  <div class="space3"></div>
  <div class="info"><div class="wrap">
    Have a project for us?
    <h1>Get in touch</h1>
    <p>Developing a prototype for your start-up? Have a legacy system that's in need
      of some TLC? Seeking training or sound advice on the state of the art?
    </p>
    <p>Contact us today to see if we're a good fit for you and your business!</p>

    <p>Email us at: <br /><a href="mailto:info@objectlateral.com" title="info@objectlateral.com" class="large">Info@ObjectLateral.com</a></p>

    <hr />
    <ul class="shareIcons">
      <li><a href="https://twitter.com/objectlateral" title="@ObjectLateral on Twitter"><span class="ss-icon ss-social twitter">&#xF611;</span></a></li>
      <li><a href="https://github.com/objectlateral" title="Object Lateral on Github"><span class="ss-icon ss-social github">&#xF671;</span></a></li>
      <li><a href="http://www.linkedin.com/company/object-lateral-inc-" title="Object Lateral on LinkedIN"><span class="ss-icon ss-social linkedin">&#xF612;</span></a></li>
      <li><a href="https://www.facebook.com/objectlateral" title="/ObjectLateral on Facebook"><span class="ss-icon ss-social facebook">&#xF610;</span></a></li>
    </ul>
  </div></div>
  <div class="form"><div class="wrap">
    <form id="contact" action="http://po-box.objectlateral.com/mail" method="POST">
      <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
      </div>
      <div>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" />
      </div>
      <div>
        <label for="message">Message</label>
        <textarea name="message"></textarea>
      </div>
      <div>
        <label class="notice"></label>
        <input type="submit" name="submit" value="Submit" id="submit" />
      </div>
    </form>
  </div></div>
  <p id="legal">&copy;{{ site.time | date: "%Y" }} Object Lateral, Inc.</p>
</section>
