---
layout: blog
title: News &amp; Notes
---

{% for post in paginator.posts %}
<article>
  <hgroup>
    <h1><a href="{{ post.url }}">{{ post.title }}</a></a></h1>
    {% if post.subtitle %}
    <h2>{{ post.subtitle }}</h2>
    {% endif %}
    <p class="date">
      by {% if post.author %} {{ post.author }} {% else %} Jerod {% endif %}
      on {{ post.date | date: "%B %d, %Y" }}
    </p>
  </hgroup>
  <div class="content">
    {{ post.content }}
  </div>
</article>
{% endfor %}

<div class="pagination">
  <p>Page {{ paginator.page }} of {{ paginator.total_pages }}</p>
  <div class="clear"></div>
  <a class="leftArrow ss-icon" href="{{ paginator.previous_page }}" title="Previous">Previous</a>
  <a class="rightArrow ss-icon" href="{{ paginator.next_page }}" title="Next">Next</a>
</div>
