<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6 xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml"" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7 xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml"" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8 xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml"" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <title>Object Lateral {% if page.title %}&raquo; {{ page.title }}{% endif %}</title>
  <meta name="description" content="Thoughtful, custom software">

  <meta property="og:title" content="Object Lateral"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://objectlateral.com"/>
  <meta property="og:image" content="http://objectlateral.com/images/gravatar.png"/>
  <meta property="og:site_name" content="Object Lateral"/>
  <meta property="fb:app_id" content=""/>
  <meta property="og:description" content="Thoughtful, custom software"/>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="/ol.css">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon-144x144.png">

</head>
<body class="{{ page.section }}">
  {{ content }}
  <script src="/ol.js"></script>
</body>
</html>
